body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
}
header {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover, nav a.current {
    background-color: #555;
}
nav a.current {
    cursor: default;
}
.logo {
    text-align: center;
    margin-bottom: 20px;
}
.logo a {
    display: block;
}
.logo img {
    max-width: 10%;
    height: auto;
}
section, .form-window form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:10px;
}
.form-window form {
    border:2px solid grey;
    border-radius:15px;
    width:23rem;
}
.form-window input, button, textarea {
    box-sizing: border-box;
    margin-top: 5px;
}
input { margin-bottom:5px; }
input[type="text"],
input[type="email"],
input[type="password"],
button[name="login"], 
button[name="create"], #prevBtn, #nextBtn, textarea { 
    padding: 0.6em 0.6em;
    font-size: 1em;
    width: 100%;
}

/* Signup Form */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
} .step.active {opacity: 1;} .step.finish {background-color: #04AA6D;}
.rotator {
    width:100%;
    display: flex;
    justify-content: space-between;
} #prev, #next { width:35%; } #next { float:right; }
input.invalid {background-color: #ffdddd;}
.hidden, .tab { display: none; }

.error-msg, .success-msg { 
    text-align: center;
    position:relative;
    background:transparent;
    height:5rem; 
    width:100%;
}
.success-msg {
    background:rgb(232, 255, 233);
    border: 1px solid rgb(20, 220, 100); 
}
.error-msg {
    background: rgba(255, 232, 232); 
    border: 1px solid rgb(220, 43, 20); 
}

/* Table */

/* table {
    width: 100%;
    margin-bottom: 20px;
}*/

.table-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    min-width:50%;
    border:2px dashed rgb(106, 107, 106);
}
#searchForm { 
    margin-top:5px;
    display: inline-flex; 
}

.table-container .create-contact {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 0;
}
.table-container .create-contact:hover {
    background-color: #32a367;
}

.table-container .pagination {
    display: flex;
    justify-content: flex-end;
}
.table-container .pagination a {
    display: inline-block;
    text-decoration: none;
    background-color: #a5a7a9;
    font-weight: bold;
    color: #FFFFFF;
    padding: 5px 10px;
    margin: 15px 0 15px 5px;
}
.table-container .pagination a:hover {
    background-color: #999b9d;
}
.table-container table {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
}
.table-container table thead {
    background-color: #ebeef1;
    border-bottom: 1px solid #d3dae0;
}
.table-container table thead td {
    padding: 10px;
    font-weight: bold;
    color: #767779;
    font-size: 14px;
}
.table-container table tbody tr {
    border-bottom: 1px solid #d3dae0;
}
.table-container table tbody tr:nth-child(even) {
    background-color: #fbfcfc;
}
.table-container table tbody tr:hover {
    background-color: #59595a;
}
.table-container table tbody tr:hover td {
    color: #FFFFFF;
}
.table-container table tbody tr:hover td:nth-child(1) {
    color: #FFFFFF;
}
.table-container table tbody tr td {
    padding: 10px;
}
.table-container table tbody tr td:nth-child(1) {
    color: #a5a7a9;
}
.table-container table tbody tr td.actions {
    padding: 8px;
    text-align: right;
}
.table-container table tbody tr td.actions .edit, .table-container table tbody tr td.actions .trash {
    display: inline-flex;
    /*text-align: right;*/
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 12px;
}
.table-container table tbody tr td.actions .trash {
    background-color: #b73737;
}
.table-container table tbody tr td.actions .trash:hover {
    background-color: #a33131;
}
.table-container table tbody tr td.actions .edit {
    background-color: #37afb7;
}
.table-container table tbody tr td.actions .edit:hover {
    background-color: #319ca3;
}

th {
    padding: 0.6em 0.6em;
} 

@media only screen and (max-width: 500px) {
    .logo img {max-width:100px;}
    nav a {
        width: 43%; /* Make links take full width on smaller screens */
        box-sizing: border-box; /* Ensure padding is included in width */
        margin-bottom: 5px; /* Adjust spacing between links */
    }

    /* Table */
    .table-container {
        width:100%;
    }
    td:nth-child(2), td:nth-child(4), th:nth-child(2), th:nth-child(4) {
      display: none;
    }
}