:root {
    --default:#007bff;
    --edit:rgb(25,162,181);
    --edit-hover:rgb(62,149,163);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
}
header {
    padding: 20px 0;
    text-align: center;
    background-color: #333;
}
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover, nav a.current {
    background-color: #555;
}
nav a.current { cursor: default; }
.logo {
    text-align: center;
    margin-bottom: 20px;
}
.logo img {
    max-width: 10%;
    height: auto;
}
.logo a { display: block; }
button { cursor: pointer; }

section, .form-window form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:10px;
}
.form-window form {
    border:2px solid grey;
    border-radius:10px;
    max-width:23rem;
}
.form-window input:focus { outline:none; }
.form-window input[type="text"],
.form-window input[type="email"],
.form-window input[type="password"],
.form-window textarea {
    box-sizing: border-box;
    margin: 5px 0;
    padding: 0.6em;
    font-size: 1em;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(176, 174, 174);
}
.form-window input[type="checkbox"] {
    width: auto; 
}
.form-window button, #prevBtn, #nextBtn {
    box-sizing: border-box;
    margin-top: 5px;
    padding: 0.6em;
    font-size: 1em;
    width: 100%;
}

/* Signup Form */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
} 
.step.active {opacity: 1;} 
.step.finish {background-color: #04AA6D;}
.rotator {
    width:100%;
    display: flex;
    justify-content: space-between;
}
input.invalid {background-color: #ffdddd;}
.hidden, .tab { display: none; }

.error-msg, .success-msg { 
    text-align: center;
    position:absolute;
    background:transparent;
    height:auto; 
    width:100%;
}
.success-msg {
    background:rgb(232, 255, 233);
    border: 1px solid rgb(20, 220, 100); 
}
.error-msg {
    background: rgba(255, 232, 232); 
    border: 1px solid rgb(220, 43, 20); 
}

/* Table */
.table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* .filter-container input[type="text"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 70%;
} */

#filterDropdown  {
    margin-top:-5px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    max-width: 20%;
}
#rankDropdown {
    padding: 10px;
    width:100%;
}

.filter-btn {
    padding: 12px 5px;
    background-color: var(--default);
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top:-5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: var(--default);
    color: #fff;
}

table tr:hover td {
    background-color: #cce5ff; /* Change background color of cells */
}

.edit, .trash {
    padding: 8px 12px;
    margin-right: 8px;
    color: #fff;
    border: none;
    border-radius: 4px;
}
.edit {
    background-color: #28a745;
}
.trash {
    background-color: #dc3545;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}
.pagination a:hover {
    background-color: #ddd;
} 
.pagination a.active {
    background-color: var(--default); /* Blue background */
    color: #fff; /* White text */
}

/* Profile Page */
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    align-items: left;
    text-align: left;
}

.profile-card {
    flex: 1;
    margin: 8px;
    padding: 20px;
    border-radius: 8px;   
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.avatar {
    width: 150px;
    height: 150px;
    background-color: gray; /* Placeholder color */
    border-radius: 50%; /* Creates a round shape */
}

.profile-card form label {
    margin-left:9px;
}
.profile-card form button {
    padding: 8px 16px;
    color: #fff;
    /* cursor: pointer; */
    border: none;
    border-radius:5px;
    background-color: var(--edit);
}

.profile-card form button:hover {
    background-color: var(--edit-hover);
}

/* Adjust size and shape for specific cards */
.profile-card:nth-child(odd) {
    flex-basis: calc(30% - 40px); /* Set width for odd cards (1 and 3) */
}
.profile-card:nth-child(even) {
    flex-basis: calc(50% - 40px); /* Set width for even cards (2 and 4) */
}

/* Adjust alignment for avatar card */
.profile-card:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* .profile-card form {
    max-width:100%;
    box-sizing: border-box;
} */

.profile-card form input {
    width: 100%;
    padding: 0.6em;
    font-size: 1em;
    box-sizing: border-box;
}
.profile-card form input[type="text"], input[type="password"] {
  margin-bottom:8px;
  border: none;
  border-bottom: 1px solid rgb(176, 174, 174);
}
.profile-card form input:focus {
  outline:none;
}
.input-group {
    display: inline-block;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .logo img {max-width:100px;}
    nav a {
        width: 43%; /* Make links take full width on smaller screens */
        box-sizing: border-box; /* Ensure padding is included in width */
        margin-bottom: 5px; /* Adjust spacing between links */
    }

    /* Table */
    #filterDropdown  {
        max-width: 100%;
    }
    th, td {
        padding: 4px;
    }
    
    table {
        display: block;
        overflow-x: auto;
    }
    
    /* Hide table header and display as block for better readability on small screens */
    thead {
        display: none;
    }
    
    /* Display table rows as block for better readability on small screens */
    tbody {
        display: block;
    }
    
    /* Ensure each table row expands to full width on small screens */
    tr {
        display: block;
        border: 1px solid #ddd;
        margin-bottom: 10px;
    }
    
    /* Ensure cells stack vertically on small screens */
    td {
        display: block;
        text-align: center;
        border: none;
    }
    
    .container {
        flex-direction: column;
        align-items: center;
    }

    .profile-card {
        flex-basis: calc(100% - 40px);
    }
}
@media only screen and (max-width: 800px) {
    td:nth-child(5), td:nth-child(6), th:nth-child(5), th:nth-child(6) {
        display: none;
    }
}